* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* HEADER */
#navbar {
    background-color: crimson;
    color: white;
    display: flex;
    width: 100vw;
    margin: 0%;
    padding: 10px 0;
    position: fixed;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0px;
    padding-top: 0px;
    opacity: 0.9;
}

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 1028px;
    border-right-width: 0px;
    border-right-style: solid;
}

ul > a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

li {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}

/* intro page */
#welcome-section {
    text-align: center;
    background-color: cornflowerblue;
    margin-top: -36px;
    height: 756px;
    text-align: center;
    background: linear-gradient(
        red 0%,
        crimson 50%,
        lightpink 70%,
        pink 100%
    )
}

#welcome-section > h1 {
    font-size: 76px;
    margin-bottom: 48px;
    padding-top: 296px;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: 20px;
    height: 88px;
}

#welcome-section > p {
    margin-top: -20px;
    font-size: 23px;
    margin-left: auto;
}

#projects {
    background-color: lawngreen;
    height: 900px;
    margin-top: -18px;
}

#projects > h2 {
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;
    font-size: 30px;
}

.project-tile {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 100px;
}

.img-cont {
    width: 25.62225475841874vw;
    height: 30.5343511450381vh;
}
#pj-1 {
border-radius: 10px;
background-color: lightgreen;
}
#pj-img-1 {
    background: url(images/blog-preview-page.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}
#pj-2 {
    border-radius: 10px;
    background-color: lightgreen;
}
#pj-img-2 {
    background: url(images/img-1-project-order-summary.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
#pj-3 {
    border-radius: 10px;
    background-color: lightgreen;
}
#pj-img-3 {
    background: url(images/product-review-page.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
#pj-4 {
    border-radius: 10px;
    background-color: lightgreen;
}
#pj-img-4 {
    background: url(images/qr-code-project.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.button {
    background: repeating-linear-gradient(
        limegreen 0%,
        rgb(87, 243, 87) 75%,
        white 100%
    );
    margin: 0;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
}

#contact {
    background: linear-gradient(
        purple 0%,
        magenta 50%,
        white 100%
    );
    margin-top: 0px;
    height:  53.669724770642205vh;
    text-align: center;
    border-top-width: 5px;
    border-top-style: solid;
    border-block-color: aquamarine;
    text-decoration: none;
}
#contact > h2 {
    margin-top: 0px;
    padding-top: 82px;
    font-size: 50px;
    margin-bottom: 0px;
}
#contact > p {
    margin-top: 6px;
    font-size: 20px;
}
#contact > div > a {
    text-decoration: none;
}
#contact > div > a:hover {
    cursor: pointer;
}
#contact > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 16px;
    font-size: 40px;
}
footer {
    background-color: #35424a;
    height: 50px;
    margin-top: 0px;
}
footer > p {
    margin-top: 0px;
    text-align: center;
    padding-top: 16px;
    font-size: 18px;
    font-style: italic;
}
